{
  "plugins": [
		"stylelint-order"
	],
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "selector-no-vendor-prefix": true,
    "at-rule-no-unknown": null,
    "no-duplicate-selectors": true,
    "selector-type-no-unknown": true,
    "property-no-unknown": true,
    "selector-class-pattern": "^[^-][a-z0-9-]*(_[a-z0-9-]+)?(--[a-z0-9-]+)?$",
    "string-quotes": "single",
    "declaration-no-important": true,
    "selector-no-qualifying-type": [
      true
    ],
    "max-nesting-depth": [
      5,
      {ignore: ["blockless-at-rules"]}
    ],
    "order/order": [
			"declarations"
		],
    "length-zero-no-unit": true,
    "number-leading-zero": "never",
    "no-descending-specificity": null,
    "max-line-length": 120
  },
  "ignoreFiles": [
    "**/*.js"
  ]
}
